<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Contacts</title>
</head>
<body>
    <br>
    <h1 class="text-center text-info">Search Here for any organization Contacts.</h1>
    <div class="main container">
    
        <!-- Another variation with a button -->
        <div class="m-5">
            <div class="form-group">
                <form action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="Search here for contacts" name="search_text">
                    <br>
                    <div class="text-center">
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-search"></i>&nbsp; Search
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="justify-content-center">
            {% for list in filtered_list %}
            <div class="">
                <div>
                    <div class="card bg-info">
                        <div class="card-body">
                            <div class="">
                                <div class="text-white">
                                    <h3>{{list.phone}}</h3>
                                    <div class="row justify-content-between">
                                        <h4 class="p-2">{{list.name}}</h4>
                                        <p class="">{{list.organization}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>
            {% endfor %}
        </div>
    
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</html>